form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    max-width: 400px;
    border: var(--border-color) solid 2px;
    border-radius: 5px;
}

input, select {
    margin-inline: 0.5rem;
}

input[type="checkbox"], input[type= "radio"], select {
    cursor: pointer;
}